body {
    background-color: #f0e5fc;
    height: 1400px;
    margin: 0px;
}

.header {
    height: 110px;
    position: fixed;
    width: 100%;
    background-color: #fff;
}

.menu {
    margin-left:auto;
    margin-right: auto;
    height: 50px;
    width: 75%;
    margin: 40px 0 0 0;
}

 .menu li {
     list-style: none;
     float: right;
     padding: 30px 0 0px 25px;
     font-size: 12pt;
     font-family: Arial, raleway, Tahoma;
     line-height: 1.7;
     color: black;
     display: block;
     height: 25px;
     text-align: right;
     color: #6F6F6F;
     text-transform: lowercase;
 }

  .menu li:hover
  {
     color: black;
     cursor: pointer;
  }
