
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
}
<div class="customGallery">
    <div id="gallery-content" class="galleryContent">
        <div id="gallery-content-center">
            <img src="~/Content/Gallery/studio1.jpg" class="all studio" />
            <img src="~/Content/Gallery/landscape1.jpg" class="all landscape">
            <img src="~/Content/Gallery/studio2.jpg" class="all studio" />
            <img src="~/Content/Gallery/studio25.jpg" class="all studio" />
            <img src="~/Content/Gallery/landscape2.jpg" class="all landscape">
            <img src="~/Content/Gallery/studio27.jpg" class="all studio" />
            <img src="~/Content/Gallery/studio3.jpg" class="all studio" />
            <img src="~/Content/Gallery/landscape3.jpg" class="all landscape">
            <img src="~/Content/Gallery/studio26.jpg" class="all studio" />
            <img src="~/Content/Gallery/studio4.jpg" class="all studio" />
            <img src="~/Content/Gallery/landscape4.jpg" class="all landscape">
            <img src="~/Content/Gallery/studio5.jpg" class="all studio" />
            <img src="~/Content/Gallery/landscape5.jpg" class="all landscape">
            <img src="~/Content/Gallery/studio6.jpg" class="all studio" />
            <img src="~/Content/Gallery/landscape6.jpg" class="all landscape">
            <img src="~/Content/Gallery/studio7.jpg" class="all studio" />
            <img src="~/Content/Gallery/landscape7.jpg" class="all landscape">
            <img src="~/Content/Gallery/studio8.jpg" class="all studio" />
            <img src="~/Content/Gallery/landscape8.jpg" class="all landscape">
            <img src="~/Content/Gallery/studio9.jpg" class="all studio" />
            <img src="~/Content/Gallery/landscape9.jpg" class="all landscape">
            <img src="~/Content/Gallery/studio10.jpg" class="all studio" />
            <img src="~/Content/Gallery/landscape10.jpg" class="all landscape">
            <img src="~/Content/Gallery/studio11.jpg" class="all studio" />
            <img src="~/Content/Gallery/landscape11.jpg" class="all landscape">
            <img src="~/Content/Gallery/studio12.jpg" class="all studio" />
            <img src="~/Content/Gallery/landscape12.jpg" class="all landscape">
            <img src="~/Content/Gallery/studio13.jpg" class="all studio" />
            <img src="~/Content/Gallery/landscape13.jpg" class="all landscape">
            <img src="~/Content/Gallery/studio14.jpg" class="all studio" />
            <img src="~/Content/Gallery/landscape14.jpg" class="all landscape">
            <img src="~/Content/Gallery/studio15.jpg" class="all studio" />
            <img src="~/Content/Gallery/landscape15.jpg" class="all landscape">
            <img src="~/Content/Gallery/studio16.jpg" class="all studio" />
            <img src="~/Content/Gallery/landscape16.jpg" class="all landscape">
            <img src="~/Content/Gallery/studio17.jpg" class="all studio" />
            <img src="~/Content/Gallery/landscape17.jpg" class="all landscape">
            <img src="~/Content/Gallery/studio18.jpg" class="all studio" />
            <img src="~/Content/Gallery/landscape18.jpg" class="all landscape">
            <img src="~/Content/Gallery/studio19.jpg" class="all studio" />
            <img src="~/Content/Gallery/studio20.jpg" class="all studio" />
            <img src="~/Content/Gallery/studio21.jpg" class="all studio" />
            <img src="~/Content/Gallery/studio22.jpg" class="all studio" />
            <img src="~/Content/Gallery/studio23.jpg" class="all studio" />
            <img src="~/Content/Gallery/studio24.jpg" class="all studio" />
        </div>
    </div>
</div>