
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="title">About</div>
<div class="internalContent">
    PhotoGallery Studio, We are the professional team with talented Architects and 3D Artists. We have had depth-experiences in Architecture Design and 3D Visualization. <br /><br />

    Professional style and passionate in works are what we have.<br />
    We have done many projects in various scales in the world. Bring the satisfaction for customer is our happy.<br /><br />

    In The PhotoGallery Studio, we are always strictly in works and assessment of the quality of each product in any project.<br /><br />

    If you have any project need to help, bring it to us. Because PhotoGallery Studio is the best choice.
</div>

